# Environment Variables
MONGO_URI=mongodb+srv://hemanthramasaia_db_user:s6puqnlMyl2JLOK5@cluster0.gfxwjp5.mongodb.net/?appName=Cluster0
JWT_SECRET=a1b2c3d4e5f60718293a4b5c6d7e8f90

SPOTIFY_CLIENT_ID=336837757fcc441cb59879acb1e9207d
SPOTIFY_CLIENT_SECRET=21289e1da8794858bab852754cae71f5

PORT=3000
NODE_ENV=production
