<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='icon' href='https://cdn-icons-png.flaticon.com/512/727/727218.png' <link
        href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap" rel="stylesheet">

    type = 'image/x-icon'>
    <link rel="stylesheet" href="../Static/style.css">
    <title>Crazy-Musics
    </title>
</head>

<body>
    <div class='Container'>
        <nav class="NavBar">
            <img src='../Static/images/APPlogo.png'>
            <h1>Crazy-Musics</h1>

            <div class='NavButton'>
                <div class="Navlinks">

                    <p>Features</p>
                    <p>Artists</p>
                    <p>Support</p>

                </div>
                <button>Launch APP</button>
            </div>
        </nav>
        <div class="FirstPage">
            <div class='IMG1'>
                <div class="headings">
                    <h1>
                        UNLEASH THE MADNESS
                    </h1>
                    <br>
                    <p class="para"> Stream Cosmic Chaos, Synth-Frekout & Beyond </p>
                    <button class='button1' id='button1'>Start Music</button>
                </div>
            </div>

        </div>
        <div class="SecondPage">
            <div class='IMG2'>
                <div class="cards">
                    <h1>Experience The Madness</h1>
                    <div class="card-row">
                        <div class="card1">
                            <img src="../Static/images/Card1.png" alt="AI Playlist" />
                        </div>

                        <div class="card2">
                            <img src="../Static/images/Card2.png" alt="Radio" />

                        </div>

                        <div class="card3">
                            <img src="../Static/images/Card3.png" alt="Share" />
                        </div>
                    </div>
                </div>
                <div class = "cards5">
                <div class="Secondpagefooter">
                    <button>START YOUR JOURNEY</button>
                </div>
                <div class="Page3">
                    <p>Privacy Policy</p>
                    <p>Terms of Services</p>
                </div>
                </div>
            </div>
        </div>
        <div class="footerPage">
            <div class='IMG3'>
                <div class="Heading3">
                    <h1>Feel the Beat. Stay in Touch.</h1>
                </div>
                <div class="Logo">
                    <img src='../Static/images/APPlogo.png'>
                </div>
                <div class="FotterCards">
                    <div class="FotterCards1">
                        <h2 class="Fotterheading">EXPLORE</h2>
                        <div class="Headings1">
                            <div class="Column1">
                                <p>Home</p>
                                <p>Features</p>
                                <p>Artists
                                </p>
                                <p>Blog</p>
                            </div>
                            <div class="Column2">
                                <p>About Us</p>
                                <p>Careers</p>
                                <p>Help Center</p>
                                <p>Sign Up</p>
                            </div>
                        </div>
                    </div>
                    <div class="FotterCards2">
                        <h4 class="Fotterheading1">UNLEASH THE MADNESS</h4>
                        <h5>Stream Cosmic Chaos, Synth-Frekout & Beyond </h5>
                    </div>
                    <div class="FotterCards3">
                        <h4 class="Fotterheading">CONNECT WITH US</h4>
                        <div class="Icons">
                            <img width="94" height="94" src="https://img.icons8.com/3d-fluency/188/facebook-logo.png"
                                alt="facebook-logo" />
                            <img width="94" height="94"
                                src="https://img.icons8.com/3d-fluency/94/twitter-circled--v1.png"
                                alt="twitter-circled--v1" />
                            <img width="94" height="94" src="https://img.icons8.com/3d-fluency/94/instagram-new.png"
                                alt="instagram-new" />
                            <img class="snapchat" width="94" height="94"
                                src="https://img.icons8.com/3d-fluency/94/snapchat-squared.png"
                                alt="snapchat-squared" />
                        </div>
                    </div>

                </div>

                <div class="Ptag">
                    <p class="copyright">© 2024. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>  